---
layout: rightcol
rightcol_partial: rightcol-downloads.html.haml
title: Downloads
---

%h2 Downloads
%table.table.table-bordered.table-striped{align: "left", border: "0", cellpadding: "0", cellspacing: "1", width: "100%"}
  %thead
    %tr.header
      %th Download
      %th Latest
      %th Older
      %th Unstable
  %tbody
    %tr.evenRow
      %td Teiid Runtime
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.Final/teiid-9.0.0.Final-wildfly-dist.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','Runtime',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 * 
        %br/
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.Final/teiid-9.0.0.Final-wildfly-server.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','Runtime',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 With WildFly
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-wildfly-dist.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','Runtime',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5 *
        %br/
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-wildfly-server.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','Runtime',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5 With WildFly
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.CR2/teiid-9.0.0.CR2-wildfly-dist.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','Runtime',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 CR2 * 
        %br/
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.CR2/teiid-9.0.0.CR2-wildfly-server.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','Runtime',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 CR2 With WildFly
    %tr.evenRow
      %td Teiid AdminShell
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.Final/teiid-9.0.0.Final-adminshell-dist.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','AdminShell',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-adminshell-dist.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','AdminShell',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.CR2/teiid-9.0.0.CR2-adminshell-dist.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','AdminShell',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 CR2
    %tr.oddRow
      %td JDBC Driver
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.Final/teiid-9.0.0.Final-jdbc.jar", onclick:"var that=this;_gaq.push(['_trackEvent','Download','JDBC Driver',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-jdbc.jar", onclick:"var that=this;_gaq.push(['_trackEvent','Download','JDBC Driver',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.CR2/teiid-9.0.0.CR2-jdbc.jar", onclick:"var that=this;_gaq.push(['_trackEvent','Download','JDBC Driver',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 CR2
    %tr.evenRow
      %td 1.5 Client Driver (will not be provided after 8.x)
      %td
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-jdbc-jdk15.jar", onclick:"var that=this;_gaq.push(['_trackEvent','Download','JDBC Driver',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5
      %td
    %tr.oddRow
      %td 1.4 Client Driver (will not be provided after 8.x)
      %td
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-jdbc-jdk14.jar", onclick:"var that=this;_gaq.push(['_trackEvent','Download','JDBC Driver',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5
      %td
    %tr.evenRow
      %td Teiid Source
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.Final/teiid-9.0.0.Final-src.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','SourceCode',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/8.13.5/teiid-8.13.5-src.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','SourceCode',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 8.13.5
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/teiid/9.0.0.CR2/teiid-9.0.0.CR2-src.zip", onclick:"var that=this;_gaq.push(['_trackEvent','Download','SourceCode',this.href]);setTimeout(function(){location.href=that.href;},200);return false;"} 9.0 CR2
    %tr.oddRow
      %td Release Notes / Change Log
      %td
        %a{href: "http://docs.jboss.org/teiid/9.0.0.Final/teiid-releasenotes.html"} 9.0.0
      %td
        %a{href: "http://docs.jboss.org/teiid/8.13.0.Final/teiid-releasenotes.html"} 8.13.0
      %td
        %a{href: "https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310782&version=12329070"} 9.1
    %tr.evenRow
      %td Teiid Web Console
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/hal/dist/2.7/dist-2.7-overlay.zip"} 2.7
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/hal/dist/2.7/dist-2.7-overlay.zip"} 2.7
      %td
        %a.td-download{href: "https://repository.jboss.org/nexus/service/local/repositories/releases/content/org/jboss/teiid/hal/dist/2.7/dist-2.7-overlay.zip"} 2.7

%p  
.alert.alert-block
  %b * IMPORTANT NOTE:
  Teiid is targeted to specific platforms.  See more below.

%p
  The embedded kit has been removed.  You should use maven to directly control what features you need.  See 
  %a{href: "https://github.com/teiid/teiid-embedded-examples"} The Embedded Examples
          
.clear
  %br/
%h2 Installation
%p
  Please consult the 
  %a{href: "https://teiid.gitbooks.io/documents/content/admin/Migration_Guide_From_Teiid_8.x.html"} Migration Guide
  when upgrading from 8.x to Teiid 9.x.
%p Teiid Requires:
.proj_basics
  %ul.icons-ul
    %li
      %i.icon-li.icon-play-sign
      %a{href: "http://www.java.com/en/download/manual.jsp"} JRE 
      %ul.icons-ul
        %li
          %i.icon-li.icon-play-sign
          Java 1.7 for Teiid 8.13+
        %li 
          %i.icon-li.icon-play-sign
          Otherwise Java 1.6 (at least 1.6.0.18). Java 1.7 or later is preferred. You may experience issues with Java 1.8 and later with EAP releases prior to 6.4.
    %li
      %i.icon-li.icon-play-sign
      %a{href: "http://wildfly.org/downloads/"} WildFly
      or
      %a{href: "http://www.jboss.org/products/eap/download/"} EAP
      or
      %a{href: "http://www.jboss.org/jbossas/downloads.html"} JBoss AS
      %ul.icons-ul
        %li
          %i.icon-li.icon-play-sign
          WildFly 9.0.2 for Teiid 8.13+
        %li
          %i.icon-li.icon-play-sign
          EAP 6.4 Alpha for Teiid 8.11 Beta2+
    %li
      %i.icon-li.icon-play-sign
      %a{href: "http://teiiddesigner.jboss.org/designer_summary/downloads"} Teiid Designer
      for creation of VDBs in a modeling environment.
%p
  For complete installation instructions please refer to "Administrator's Guide" in
  = succeed "." do
    %a{href: "#{site.base_url}/docs"} Teiid Documents section
%p For Quick "standalone" mode installation of the latest Teiid
Either start by unzip the kit above that includes EAP or:
%ol
  %li Install the appropriate WildFly / EAP version (see above).   
  %li UnZip Teiid archive over the installed application server
Then start the server using "standalone.sh -c standalone-teiid.xml" command.
%p Additionally you'll need to supply any third-party jars needed to connect to your enterprise sources like JDBC Drivers.
%p
  Teiid JDBC Driver 
  %code> teiid-&lt;version&gt;-jdbc.jar
  \ can be downloaded from above links for accessing a VDB through JDBC.
%p
  Follow the
  %a{href: "https://docs.jboss.org/author/display/teiidexamples/Home"} quick start
  and the
  %a{href: "https://www.jboss.org/community/wiki/TheTeiidDesignerProject"} Teiid Designer documentation
  to understand how to create a VDB.  Use and contribute to the
  %a{href: "https://developer.jboss.org/en/teiid/overview"} Teiid community
  for additional examples and configuration options for Teiid.

%p
  %h3 Older Downloads
  %a.td-download{href: "#{site.base_url}/downloads_812"} 8.12
  %br/
  %a.td-download{href: "http://sourceforge.net/projects/teiid/files/teiid/"} 8.11 and prior 
