---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Looking for fully supported and certified Teiid? Checkout Redhat JBoss Data Virtualization v6
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %a{href: "http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/"} http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseTwo"}
        %h4
          .icon.icon-asterisk
          Announcement: 8.8 Final Released on July 17th, 2014
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        %p Teiid 8.8 for EAP 6.1 Alpha is now available. The main features are:
        %ul
          <li>TEIID-2647 <b>Translator for Cloudera's Impala</b> data warehouse has been added.  See the reference for more.</li>
          <li>TEIID-2902 <b>More incremental joins</b> where the whole dataset does not need fully sorted or even read.</li>
          <li>TEIID-2263 <b>More control over MAKE (NOT) DEP hints</b> via syntax that allows for traversing views.  See the reference for more.</li>
          <li>TEIID-2263 <b>Common Table (WITH) planning improvements</b> such that the usage of a WITH clause in a view or inline view no longer inhibits planning as part of the larger query.</li>
          <li>TEIID-2980 <b>XMLTable Array Support</b> - XMLTABLE may now return arrays for sequence values.</li>
          <li>TEIID-1675 <b>Updatable LDAP multi-valued attributes</b> - using an array type mapping, LDAP multi-valued attributes can be inserted/updated.
          <li>TEIID-3018 <b>System tables for view/procedure defintions</b> - the SYSADMIN Views and StoredProcedures tables can be used to access the defintions of the views/procedures.
%table
  %tbody
    %tr
      %td{width:"50%"}
        %img{src: "#{site.project_images_url}/main2.png"}/
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores.
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.  Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, managable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner.html"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases"} virtual databases
            containing views, procedures or even dynamic XML documents.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell"} Teiid AdminShell
            to automate administrative and testing tasks.
