---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Looking for fully supported and certified Teiid? Checkout Redhat JBoss Data Virtualization v6
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %a{href: "http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/"} http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseTwo"}
        %h4
          .icon.icon-asterisk
          Announcement: 8.9 Final Released on November 17th, 2014
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        %p Teiid 8.9 for EAP 6.3 Alpha is now available. The main features are:
        %ul
          <li>TEIID-3009 <b>WITH project minimization</b> - common table expressions will have their project columns minimized.
          <li>TEIID-3038 <b>geoSpatial support for MongoDB</b> translator
          <li>TEIID-3050 <b>Increased Insert Performance</b> with sources that support batching or insert with iterator.
          <li>TEIID-3044 <b>Function Metadata</b> is available through system tables and DatabaseMetaData.
          <li>TEIID-1910 <b>TeiidPlatform for EclipseLink</b> integration is now provided via the teiid-eclipselink-platform jar in maven.
          <li>TEIID-3119 <b>Performance improvements</b> in grouping and duplicate removal as well as general improvements to memory management.
          <li>TEIID-3156 <b>Collation aware</b> prevention of order by pushdown via the collationLocale translator property and the org.teiid.requireTeiidCollation system property.
          <li>TEIID-3042 <b>Usage Information</b> on views and procedures in the system table SYSADMIN.Usage.
%table
  %tbody
    %tr
      %td{width:"50%"}
        %img{src: "#{site.project_images_url}/main2.png"}/
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores.
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.  Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, managable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner.html"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases"} virtual databases
            containing views, procedures or even dynamic XML documents.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell"} Teiid AdminShell
            to automate administrative and testing tasks.
