---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Looking for fully supported and certified Teiid? Checkout Redhat JBoss Data Virtualization v6
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %a{href: "http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/"} http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseTwo"}
        %h4
          .icon.icon-asterisk
          Announcement: 8.11 Final Released on June 19th, 2015
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        %p Teiid 8.11 for EAP 6.4 Alpha is now available. The main features are:
        %ul
          <li>TEIID-3372 <b>Multiple metadata</b> elements can now be used to configure a vdb.
          <li>TEIID-3369 <b>Custom query rewrite</b> - via a configurable PreParser.
          <li>TEIID-3389 <b>Kerberos Delegation</b> JDBC driver can now participate in kerberos delegation based authentication
          <li>TEIID-3390 <b>SQL/XML improvements</b> in performance and disk utilization.
          <li>TEIID-3362 <b>ARRAYITERATE</b> system procedure for iterating over an array.
          <li>TEIID-3393 <b>Embedded AdminApi</b> is now available from EmbeddedServer.getAdmin.
          <li>TEIID-3270 <b>Virtual Functions</b> can not be defined with procedure syntax.
          <li>TEIID-3434 <b>More caching control</b> over ttls in the result set cache down to the schema/table level.
          <li>TEIID-3412 <b>MS Access</b> support via the UCanAccess driver.
          <li>TEIID-3371 <b>EAP 6.4</b> as the target platform.
          <li>TEIID-3491 <b>REGEXP_REPLACE</b> function added
%table
  %tbody
    %tr
      %td{width:"50%"}
        %img{src: "#{site.project_images_url}/main2.png"}/
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores.
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.  Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, managable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner.html"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases"} virtual databases
            containing views, procedures or even dynamic XML documents.  
            Use
            %a{href: "https://github.com/teiid/teiid-dashboard"} Teiid Dashboard Builder
            to quickly create a dashboard for data visualization.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell"} Teiid AdminShell
            to automate administrative and testing tasks.
