---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Looking for fully supported and certified Teiid? Checkout Redhat JBoss Data Virtualization v6
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %a{href: "http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/"} http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseTwo"}
        %h4
          .icon.icon-asterisk
          Announcement: 10.0.0 Final Released on November 2nd, 2017
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        %p Teiid 10.0.0 for Wildfly 11.0.0 is now <a href="http://teiid.jboss.org/downloads/">available</a>. The main features are:
        %ul
          <li><a href="https://issues.jboss.org/browse/TEIID-4981">TEIID-4981</a> Amazon S3 translator support, now read the objects directly from Amazon S3 with security</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-5026">TEIID-5026</a> The behavior of the FROM_UNIXTIME function was corrected and the related datetime functions UNIX_TIMESTAMP, TO_MILLIS, and FROM_MILLIS were added.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-1131">TEIID-1131</a> Added support for importing sequence information.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-5073">TEIID-5073</a> Added a salesforce-41 translator/resource adapter pair, which defaults to accessing the v40 salesforce API.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-4208">TEIID-4208</a> Added parallelism to plan execution involving large sorts.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-5002">TEIID-5002</a> Upgraded to WildFly 11</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-4711">TEIID-4711</a> Generalized IS DISTINCT support.</li>

%table
  %tbody
    %tr
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogeneous data stores.
    %tr
      %td
        %img{src: "http://docs.jboss.org/teiid/teiid_architecture.png", style: "width: 100%;"}/
    %tr
      %td
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.
        %h5 Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, manageable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases"} virtual databases
            containing views, procedures or even dynamic XML documents.  
            Use
            %a{href: "https://github.com/teiid/teiid-dashboard"} Teiid Dashboard Builder
            to quickly create a dashboard for data visualization.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell"} Teiid AdminShell
            to automate administrative and testing tasks.
