---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Looking for fully supported and certified Teiid? Checkout Redhat JBoss Data Virtualization v6
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %a{href: "http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/"} http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseTwo"}
        %h4
          .icon.icon-asterisk
          Announcement: 8.7 Final Released on April 16th, 2014
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        %p Teiid 8.7 for EAP 6.1 Alpha is now available. The main features are:
        %ul
          %li
            TEIID-1070
            %b Amazon SimpleDB 
            \- support has been contributed by Radim Hopp.  See the Admin and Reference Guides for more.
          %li
            TEIID-2761
            %b Security Enhancements 
            \- added support for a grant-all attribute on a role.  Also added the ability to specify the security domain for a VDB.  See the reference guide for more.
          %li
            TEIID-2780
            %b Apache Solr 
            \- Translator  has been added.  See the Admin and Reference Guides for more. See <a href="https://community.jboss.org/wiki/IntegrateApacheSolrWithTeiid">example here</a>
          %li
            TEIID-2809
            %b Pattern based system property substitution 
            \- has been added to VDB.XML files. Only supported if the DVB is being deployed JBoss EAP.
          %li
            TEIID-2844
            %b Remove unauthorized columns 
            \- from SELECT * can be enabled via the session property ignore_unauthorized_asterisk.  See the Reference for more.
          %li
            TEIID-2863/TEIID-2761
            %b More robust GSS-API support 
            \-. This issue also implements a feature where a user can now define a "security-domain" per VDB. User no longer has to depend upon the transport level authentication.
          %li
            TEIID-2826
            %b Revamped build structure for translators and connectors 
            \- so that it is easier to package them and deploy them to a Teiid server.
          %li
            TEIID-2859
            %b TEXTTABLE FOR ORDINALITY 
            \- a FOR ORDINALITY column can now be used with TEXTTABLE.  See the Reference for more.
          %li
            TEIID-965 
            %b Apache POI based Excel 
            \- connectivity has been added.  See the reference for more. See <a href="https://community.jboss.org/wiki/MicrosoftExcelDocumentIntoRelationalTable">example here</a>
          %li
            TEIID-2888
            %b Designer VDB support in Embedded 
            \- is now available.  With a few caveats, Designer .INDEX based vdbs can now be used with Teiid Embedded.  See the Embedded Guide for more.
          %li
            TEIID-2904
            %b Translator Properties 
            \- Translator import, override and extension-metadata properties are can retrieved through Admin API
          %li
            TEIID-2627
            %b Accumulo 
            \- Translator has been added. See Admin and Reference guides for more information. See <a href="https://community.jboss.org/wiki/ApacheAccumuloWithTeiid">example here</a>
%table
  %tbody
    %tr
      %td{width:"50%"}
        %img{src: "#{site.project_images_url}/main2.png"}/
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogenous data stores.
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.  Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, managable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner.html"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases"} virtual databases
            containing views, procedures or even dynamic XML documents.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell"} Teiid AdminShell
            to automate administrative and testing tasks.
