---
layout: rightcol
title: Teiid Homepage
---

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseOne"}
        %h4
          .icon.icon-asterisk
          Looking for fully supported and certified Teiid? Checkout Redhat JBoss Data Virtualization v6
    #collapseOne.accordion-body.collapse
      .accordion-inner
        %a{href: "http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/"} http://www.redhat.com/products/jbossenterprisemiddleware/data-virtualization/

#accordionAnnounce.accordion
  .accordion-group.alert.alert-block
    .accordion-heading
      %a.accordion-toggle.in{"data-parent" => "#accordionAnnounce", "data-toggle" => "collapse", href: "#collapseTwo"}
        %h4
          .icon.icon-asterisk
          Announcement: 9.0 Final Released on June 13th, 2016
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        %p Teiid 9.0 for Wildfly 9.0.2 is now <a href="http://teiid.jboss.org/downloads/">available</a>. The main features are:
        %ul
          <li><a href="https://issues.jboss.org/browse/TEIID-3601">TEIID-3601</a> <b>Large row counts</b> internal tables and source queries are no longer limited to max integer rows.  However update counts, count aggregate values, user result sets, etc. are still limited to max integer.
          <li><a href="https://issues.jboss.org/browse/TEIID-3792">TEIID-3792</a> <b>Array Quantified Comparisons</b> can be used to search array values - for example expression = SOME (array_expression)
          <li><a href="https://issues.jboss.org/browse/TEIID-3462">TEIID-3462</a> <b>Semantic VDB Versioning</b> can be used in the VDB name and connection string, rather than the simple integer version.  See the Reference for more.
          <li><a href="https://issues.jboss.org/browse/TEIID-3849">TEIID-3849</a> <b>Cassandra Update Improvements</b> for bulk/batch updates and asynch processing.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-3869">TEIID-3869</a> <b>Additional geospatial support</b> for Geoserver integration with Teiid.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-2476">TEIID-2476</a> <b>Data role metadata filtering</b> to omit non-accessible objects from system tables.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-4076">TEIID-4076</a> <b>Improved autoCommitTxn detect</b> to prevent unnecessary transactions.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-4084">TEIID-4084</a> <b>Allowing for with clause inlining</b> to improve performance.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-3725">TEIID-3725</a> <b>JDG Cache/DSL Translator</b> added cache swapping feature to support external materialization.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-3810">TEIID-3810</a> <b>JDG Cache/DSL Translator</b> upgraded support for JDG 6.6</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-3520">TEIID-3520</a> <b>Swagger Translator</b> for calling REST services defined by Swagger.</li>
          <li><a href="https://issues.jboss.org/browse/TEIID-4202">TEIID-4202</a> <b>Lateral join and procedure pushdown</b> support for targeted sources.</li>

%table
  %tbody
    %tr
      %td
        %h4 Teiid is a data virtualization system that allows applications to use data from multiple, heterogeneous data stores.
    %tr
      %td
        %img{src: "http://docs.jboss.org/teiid/teiid_architecture.png", style: "width: 100%;"}/
    %tr
      %td
        %br
        %h5 Teiid is comprised of tools, components and services for creating and executing bi-directional data services.
        %h5 Through abstraction and federation, data is accessed and integrated in real-time across distributed data sources without copying or otherwise moving data from its system of record.
%h3 Teiid Parts
%table.deftable{cellspacing: "0", style: "clear: both;", width: "75%"}
  %tbody
    %tr
      %td.termFirst{width: "90"} Query Engine
      %td.defFirst The heart of Teiid is a high-performance query engine that processes relational, XML, XQuery and procedural queries from federated datasources.  Features include support for homogeneous schemas, heterogeneous schemas, transactions, and user defined functions.
    %tr
      %td.term Embedded
      %td.def An easy-to-use JDBC Driver that can embed the Query Engine in any Java application.
    %tr
      %td.term Server
      %td.def
        %p An enterprise ready, scalable, manageable, runtime for the Query Engine that runs inside JBoss AS that provides additional security, fault-tolerance, and administrative features.
    %tr
      %td.term Connectors
      %td.def
        %p Teiid includes a rich set of Translators and Resource Adapters that enable access to a variety of sources, including most relational databases, web services, text files, and ldap.  Need data from a different source? A custom translators and resource adaptors can easily be developed.
    %tr
      %td.term Tools
      %td.def
        %ul
          %li
            %strong Create
            \- Use
            %a{href: "http://www.jboss.org/teiiddesigner"} Teiid Designer
            to define
            %a{href: "#{site.base_url}/basics/virtualdatabases"} virtual databases
            containing views, procedures or even dynamic XML documents.  
            Use
            %a{href: "https://github.com/teiid/teiid-dashboard"} Teiid Dashboard Builder
            to quickly create a dashboard for data visualization.
          %li
            %strong Monitor & Manage
            \- Use the
            %a{href: "#{site.base_url}/tools/console"} Teiid Web Console
            with just the AS or the
            %a{href: "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ plugin
            to control any number of servers.
          %li
            %strong Script
            \- Use the
            %a{href: "#{site.base_url}/tools/adminshell"} Teiid AdminShell
            to automate administrative and testing tasks.
